.searchBarContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  margin: 2.5rem 5rem;

  > input {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  > input:focus {
    outline: none;
  }

  > label {
    font-size: larger;
  }
}
